/*CSS for the nVipani Corporate Website -------
----- 11-05-2018 -----------*/
html,body{
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100%;
    letter-spacing: 1px;
    color: #252525;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body.hide{
    height: 100%;
    overflow: hidden;
}
/*========Global CSS starts here ========*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-weight: 400;
}
.nvc-wid-100{
    width: 100% !important;
}
.nvc-height-100{
    height: 100% !important;
}
.line-height-1-5{
    line-height: 1.5;
}
.line-height-md-1-5{
    line-height: 1.5;
}
.row{
    margin-right: auto;
    margin-left: auto;
}
.nvc-accent-background{
    background: #e4e4e4;
}
.nvc-theme-color{
    color: #091965;
}
.nvc-section-divider{
    width: 100%;
    height: 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0c4cb4+50,3e95e5+50 */
    background: #0c4cb4; /* Old browsers */
    background: -moz-linear-gradient(left, #0c4cb4 50%, #3e95e5 50%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #0c4cb4 50%,#3e95e5 50%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #0c4cb4 50%,#3e95e5 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c4cb4', endColorstr='#3e95e5',GradientType=1 ); /* IE6-9 */
}

.gradient-to-right{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0c4cb4+0,3e95e5+100 */
    background: #0c4cb4; /* Old browsers */
    background: -moz-linear-gradient(left, #0c4cb4 0%, #3e95e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #0c4cb4 0%,#3e95e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #0c4cb4 0%,#3e95e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c4cb4', endColorstr='#3e95e5',GradientType=1 ); /* IE6-9 */
}
.white-border-right{
    border-right: 2px solid #ffffff;
}
.panel-column h6{
    padding: 10px 0;
}
.w-10{
    width: 10% !important;
}
.flip{
    -webkit-transform: rotateY(180deg) translateY(-50%) !important;
    -moz-transform: rotateY(180deg) translateY(-50%) !important;
    -ms-transform: rotateY(180deg) translateY(-50%) !important;
    -o-transform: rotateY(180deg) translateY(-50%) !important;
    transform: rotateY(180deg) translateY(-50%) !important;
}
.margin-top-3{
    margin-top: -3rem;
}
.left-carousel .carousel-item h6{
    padding-bottom: 0.8rem;
    position: relative;
    margin-bottom: 0.8rem;
}
.left-carousel .carousel-item h6:after{
    content: '';
    width: 25%;
    height: 1px;
    background: #e4e4e4;
    position: absolute;;
    bottom: 0;
    left: 0;
}
/*========Global CSS ends here ==========*/
/*========Header CSS starts here ========*/
.navbar{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}
.nvc-header-image img{
    height: 48px;
    padding: 5px;
}
.nvc-nav-item{
    padding: 15px 4%;
}
.nvc-nav-item a{
    font-weight: 600 !important;
    color: #ffffff !important;
}
.nvc-shape-pill{
    -webkit-border-radius: 100rem;
    -moz-border-radius: 100rem;
    border-radius: 100rem;
}
.nvc-background-left,
.nvc-background-right{
    position: relative;
}
.nvc-background-left:before,
.nvc-background-right:before{
    content: '';
    position: absolute;
    top: 0;
    width: 30%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right bottom, from(#0C4CB4), to(#3E95E5));
}
.nvc-background-left:before{
    left: 0;
}
.nvc-background-right:before{
    right: 0;
}
.flex-1{
    flex: 1;
}
.flex-8{
    flex: 8;
}
.justify-content-space-evenly{
    justify-content: space-evenly;
}
.justify-content-space-around{
    justify-content: space-around;
}
.justify-content-space-between{
    justify-content: space-between;
}
.panel-header{
    font-size: 2rem;
    font-weight: 900;
    background:-webkit-gradient(linear, left top, right top, from(#0C4CB4), to(#3E95E5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.square-image{
    padding: 35% 0;
    position: relative;
}
.square-image img{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    height: 100%;
    object-fit: contain;
}
/*========Header CSS Ends here =========*/
/*======== Panel 1 CSS Goes here =======*/
.nvc-panel1{
    height: 100%;
}
.nvc-panel1 .heading{
    font-size: 2rem;
}
.total-content{
    height: 100%;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
}
.total-content.toggled{
    -ms-filter: blur(4px);
    filter: blur(4px);
}
.nvc-panel1-container{
    height: 100%;
}
.nvc-panel1-container .btn{
    color: #ffffff;
    border: 4px solid #ffffff;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.nvc-panel1-continuation{
    height: 100%;
    background: #ffffff;
}
.nvc-panel1-container .btn:hover{
    background: none;
    color: #0C4CB4;
    border-color: #0C4CB4;
}
.nvc-panel1-continuation .btn{
    color: #ffffff;
    font-weight: 600;
    padding: .35rem 5rem;
}

/*======== Panel 1 CSS ends here =======*/
/*======== Panel 2 CSS goes here =======*/
.nvc-panel2{
    height: 75%;
}
.nvc-panel2 .content{
    height: 100%;
}
/*======== Panel 2 CSS ends here =======*/
/*======== panel 2 timeline css starts here ===*/
.timeline-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}
.timeline-header:before {
    content: '';
    width: 100%;
    height: 1px;
    background: #252525;
    position: absolute;
    top: 50%;
    z-index: 0;
}
.timeline-header .item {
    background: #fff;
    z-index: 1;
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    -webkit-transition: all ease-in 0.3s;
    -moz-transition: all ease-in 0.3s;
    -ms-transition: all ease-in 0.3s;
    -o-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
}
.timeline-header .item.active{
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}
.timeline-header .item:after{
    width: 90%;
    height: 90%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    border: 1px solid #252525;
    border-bottom-color: transparent;
    border-top-color: transparent;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all ease-in 0.3s;
    -moz-transition: all ease-in 0.3s;
    -ms-transition: all ease-in 0.3s;
    -o-transition: all ease-in 0.3s;
    transition: all ease-in 0.3s;
}
.timeline-header .item.active:after{
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.timeline-header .item img{
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 8px;
    border: 1px solid #252525;
}
.timeline-container .item{
    display: none;
    opacity: 0;
}
.timeline-container .item.active{
    display: block;
    opacity: 1;
}
/*======== panel 2 timeline css ends here =====*/
/*======== Panel 3 CSS goes here =======*/
.nvc-panel3{
    height: 75%;
}
/*======== Panel 3 css ends here =======*/
/*======== Panel 4 CSS goes here =======*/
.nvc-panel4{
    height: 75%;
    background: #ffffff;
}
/*======== Panel 4 CSS ends here =======*/
/*======== Carousel panel css goes here ==*/
.carousel-panel{
    overflow: hidden;
    background-size: contain;
    background-image: url("../img/baselayer.png");
    background-repeat: no-repeat;
    background-position-x: right;
}
.carousel-panel .carousel-item img{
    width: 72%;
    padding: 7rem 2rem 16rem 0;
    margin-left: auto;
    display: block;
}
.controls div{
    cursor: pointer;
}
.carousel-panel-continuation{
    color: #ffffff;
    position: absolute;
    bottom: 6%;
    z-index: -1;
}
.carousel-panel-continuation a{
    color: #ffffff;
    text-decoration: underline;
}
/*======== Panel 5 CSS goes here =======*/
.nvc-panel5-paragraph p{
    line-height: 2;
}
.nvc-panel5-paragraph p:before,
.nvc-panel5-paragraph p:after{
    position: absolute;
    top: 20px;
    font-size: 3rem;
    line-height: 0;
    font-weight: 600;
    font-family: sans-serif;
    color: #091965;
}
.nvc-panel5-paragraph p:before{
    content: open-quote;
    left: 0;
}
.nvc-panel5-paragraph p:after{
    content: close-quote;
    right: 0;
}
/*======== Panel 5 CSS ends here =======*/
/*======== Panel 6 CSS starts here =====*/
.nvc-panel6{
    color: #ffffff;
    background: linear-gradient(to right, #0483fc, #091965);
    background: -webkit-linear-gradient(to right, #0483fc, #091965);
    background: -o-linear-gradient(to right, #0483fc, #091965);
    background: -moz-linear-gradient(to right, #0483fc, #091965);
    background: -ms-linear-gradient(to right, #0483fc, #091965);
}
.nvc-panel6 .container-fluid{
    background: #ffffff;
    color: #000;
}
/*======== Panel 6 CSS Ends here =======*/
/*======== Custom carousel css here ====*/
.custom-carousel .carousel-indicators{
    bottom: -10px;
    height: 12px;
    align-items: center;
}
.custom-carousel .carousel-indicators li{
    width: 8px;
    height: 8px;
    background: #e4e4e4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
}
.custom-carousel .carousel-indicators li.active{
    width: 12px;
    height: 12px;
    background: #0c4cb4;
    -webkit-box-shadow: 0 0 10px 0 #3e95e5;
    -moz-box-shadow: 0 0 10px 0 #3e95e5;
    box-shadow: 0 0 10px 0 #3e95e5;
}
.custom-carousel .carousel-control-next-icon,
.custom-carousel .carousel-control-prev-icon{
    width: 60px;
    height: 35%;
    background: none;
}
.detailview-carousel .carousel-item{
    opacity: 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.detailview-carousel .carousel-item.active,
.detailview-carousel .carousel-item.carousel-item-next,
.detailview-carousel .carousel-item.carousel-item-prev{
    opacity: 1;
}
/*======== custom carousel css ends ====*/
/*======== contact us panel css goes here ====*/
.panel-contact-us{
    color: #ffffff;
}
/*======== contact us panel css ends here ====*/
.nvc-panel7 p{
    font-size: 0.9em;
    line-height: 2;
}
/*======== ham menu css starts here =====*/
.ham-menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}
.ham-menu ul{
    list-style: none;
    padding: 10px;
    margin: 10px;
}
.ham-menu ul li{
    width: 20px;
    height: 2px;
    background: #252525;
    -webkit-transition: all ease-in 0.2s;
    -moz-transition: all ease-in 0.2s;
    -ms-transition: all ease-in 0.2s;
    -o-transition: all ease-in 0.2s;
    transition: all ease-in 0.2s;
}
.ham-menu ul li.menu-bar-1{
    -webkit-transform: translateY(-3.75px);
    -moz-transform: translateY(-3.75px);
    -ms-transform: translateY(-3.75px);
    -o-transform: translateY(-3.75px);
    transform: translateY(-3.75px);
}
.ham-menu ul li.menu-bar-2{
    -webkit-transform: translateY(3.75px) translateZ(0);
    -moz-transform: translateY(3.75px) translateZ(0);
    -ms-transform: translateY(3.75px) translateZ(0);
    -o-transform: translateY(3.75px) translateZ(0);
    transform: translateY(3.75px) translateZ(0);
}
.ham-menu ul li.menu-bar-3{
    -webkit-transform: translateY(12px);
    -moz-transform: translateY(12px);
    -ms-transform: translateY(12px);
    -o-transform: translateY(12px);
    transform: translateY(12px);
}
.ham-menu.toggled ul li.menu-bar-1{
    -webkit-transform: rotate(45deg) translate(1.5px, 1.5px);
    -moz-transform: rotate(45deg) translate(1.5px, 1.5px);
    -ms-transform: rotate(45deg) translate(1.5px, 1.5px);
    -o-transform: rotate(45deg) translate(1.5px, 1.5px);
    transform: rotate(45deg) translate(1.5px, 1.5px);
}
.ham-menu.toggled ul li.menu-bar-2{
    -webkit-transform: rotate(-45deg) translateZ(0);
    -moz-transform: rotate(-45deg) translateZ(0);
    -ms-transform: rotate(-45deg) translateZ(0);
    -o-transform: rotate(-45deg) translateZ(0);
    transform: rotate(-45deg) translateZ(0);
}
.ham-menu.toggled ul li.menu-bar-3{
    width: 0;
}
.xs-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    transition: all linear 0.4s;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}
.xs-menu.toggled{
    opacity: 0.8;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.brand-logo{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    margin: 10px auto;
    width: 30%;
    z-index: 2;
}
.xs-menu .list-group{
    width: 40%;
    margin: auto;
}
.xs-menu .list-group a{
    color: #252525;
    font-weight: 600;
    font-style: 1.2rem;
}
/*===== menu css here ====*/
.md-menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 92%;
    background: transparent;
    z-index: 10;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}
.md-menu .logo img{
    width: 8rem;
}
.md-menu.toggled{
    position: fixed;
    width: 100%;
    background: #ffffff;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.md-menu .menu-content a{
    color: #252525;
    padding: 0 0.6rem;
    font-size: 0.9rem;
    position: relative;
}
.md-menu .menu-content a:hover{
    text-decoration: none;
}
.md-menu .menu-content a:after {
    content: '';
    width: 0;
    height: 3px;
    background: #3e95e5;
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}
.md-menu .menu-content a:hover:after{
    width: 90%;
}
/*========= footer css starts here =====*/
.footer .logo img{
    width: 8rem;
    margin: auto;
    display: block;
}
.footer .brand a{
    padding: 0 0.4rem;
}
.footer .brand a{
    border: 2px solid #252525;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0 0.4rem;
    padding: 0;
}
.footer .brand img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    -o-object-fit: contain;
    padding: 6px;
}
.footer .signature h6{
    font-size: 0.8rem;
    font-family: monospace;
}
/*========= footer css ends here =======*/
/*======== Media queries goes here =====*/
/*======== progress bar css goes here ====*/
.overlay{
    position:fixed;
    z-index:99999;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:rgba(0,0,0,0.9);
    transition: 1s 0.4s;
}
.progress-line{
    height:1px;
    background:#fff;
    position:absolute;
    width:0;
    top:50%;
}
.progress-stats{
    font-size:0.7em;
    letter-spacing: 3px;
    position:absolute;
    top:50%;
    margin-top:-40px;
    width:100%;
    text-align:center;
    color:#fff;
}
/*======== progress bar css ends here ====*/
@media (max-width: 576px) {
    html,body{
        font-size: 14px;
        height: auto;
    }
    .nvc-background-right:before,
    .nvc-background-left:before{
        width: 50%;
        z-index: -1;
    }
    .panel-header{
        font-size: 1.4rem;
    }
    .nvc-panel1{
        background-image: none;
    }
    .nvc-panel2,
    .nvc-panel3,
    .nvc-panel4{
        height: auto;
    }
    .panel-header{
        color: #000;
        background: none;
        -webkit-text-fill-color: #000000;
    }
    .panel-subheader{
        font-size: 1.2rem;
    }
    .nvc-section-divider{
        height: 7px;
    }
    .nvc-section-divider-xs{
        width: 30%;
        height: 1px;
        background: #e4e4e4;
        display: block;
        margin: auto;
    }
    .nvc-panel1-continuation img.w-10{
        width: 70% !important;
        padding: 0.5rem;
    }
    .nvc-panel1-continuation img.w-25{
        width: 50% !important;
    }
    .carousel-panel-continuation{
        position: relative;
    }
    .nvc-panel1-continuation .content h6{
        font-weight: 600;
    }
    .line-height-md-1-5{
        line-height: 1;
    }
    .nvc-panel5-text:before,
    .nvc-panel5-text:after{
        width: 20%;
    }
    .nvc-panel5-paragraph p:before,
    .nvc-panel5-paragraph p:after{
        font-size: 2rem;
    }
    .nvc-panel1 .heading{
        font-size: 1.4rem;
    }
    .footer .brand a{
        border-width: 1px;
    }
    .footer .brand img{
        width: 20px;
        height: 20px;
        padding: 4px;
    }
}